{% extends 'index.html' %}

{% block content %}
<h1 class="text-center mt-5">Posts</h1>
<section class="container py-3">
    {% for post in posts %}
    <main class="container py-3">
        <section class="card card-body">

            <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
            <p>{{ post.content|truncatewords:140 }}</p>

            {% if user.is_authenticated %}
            <div id="post-{{ post.id }}">
                <div class="d-flex align-items-center">
                    {% if user in post.likes.all %}
                    <button class="btn btn-link p-0 like-button" data-post="{{ post.id }}" data-liked="true">
                        <i class="bi bi-heart-fill text-danger"></i>
                    </button>
                    {% else %}
                    <button class="btn btn-link p-0 like-button" data-post="{{ post.id }}" data-liked="false">
                        <i class="bi bi-heart"></i>
                    </button>
                    {% endif %}
                    
                    <p class="like-message ms-2 mb-0">
                        {% if post.likes.count == 0 %}
                            Be the first to like this
                        {% endif %}
                        {% if not user in post.likes.all and post.likes.count == 1 %}
                            1 person liked this    
                        {% endif %}    
                        {% if post.likes.count == 1 and user in post.likes.all %}
                            You liked 
                        {% endif %}
                        {% if user in post.likes.all and post.likes.count >= 2 %}
                            You and {{ post.likes_minus_one }} others liked this
                        {% endif %}
                        {% if not user in post.likes.all and post.likes.count >= 2 %}
                            {{ post.likes.count }} people liked this
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endif %}
        </section>
    </main>
</section>
{% endfor %}
<div class="align-items-center d-flex justify-content-center">
    {% include 'paginator.html' %}
</div>
</div>
{% endblock %}
{% block script %}
{% load static %}
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}