{% extends 'index.html' %}
{% block content %}
<section class="container py-2">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>
</section>
<div class="text-center">
    <form action="{% url 'like_post' post.pk %}">

        {% csrf_token %}
        {% if user.is_authenticated %}
        {% if liked %}
        <button type="button" class="btn btn-primary btn-sm">
            Likes
            <span class="badge bg-light text-dark">{{total_likes}}</span>
        </button>
        <button type="submit" class="btn btn-danger btn-sm">
            Dislike
            <span class="badge bg-light text-dark"></span>
        </button>
        {% else %}
        <button type="submit" class="btn btn-primary btn-sm">
            Likes
            <span class="badge bg-light text-dark">{{total_likes}}</span>
        </button>
        {% endif %}
        {% endif %}
    </form>
    <br><br>
    <form action="{% url 'home' %}">
    <button class="btn btn-secondary">Back to posts</button>
    </form>
</div>
{% endblock %}